<body class="login">
<!-- BEGIN LOGO -->
<div class="logo">
  <a href="http://www.crawly.com.br/">
    <img src="../assets/img/logo-small.svg" alt="" width="100" /> </a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">

  <!-- BEGIN LOGIN FORM -->
  <form class="login-form" (submit)="createAccount($event, name.value, email.value, password.value)">
    <h3 class="form-title font-green">Registration</h3>
    <div class="alert alert-danger" *ngIf="error != ''">
      <button class="close" data-close="alert"></button>
      <span> {{error}} </span>
    </div>
    <div class="form-group">
      <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
      <label class="control-label visible-ie8 visible-ie9">Name</label>
      <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" #name placeholder="Name" name="name" />
    </div>
    <div class="form-group">
      <label class="control-label visible-ie8 visible-ie9">Email</label>
      <input class="form-control form-control-solid placeholder-no-fix" type="email" autocomplete="off" #email placeholder="Email" name="email" />
    </div>
    <div class="form-group">
      <label class="control-label visible-ie8 visible-ie9">Password</label>
      <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" #password placeholder="Password" name="password" />
    </div>
    <div class="form-actions">
      <button type="submit" class="btn green uppercase">Create account <i *ngIf="isLoading" class="fa fa-spinner fa-pulse fa-fw"></i></button>
    </div>
    <div class="create-account">
      <p>
        <a href="/login" id="register-btn" class="uppercase">Have a user? Sign in.</a>
      </p>
    </div>
  </form>
  <!-- END LOGIN FORM -->
</div>

</body>

