<body class="login">
  <!-- BEGIN LOGO -->
  <div class="logo">
    <a href="http://www.crawly.com.br/">
      <img src="../assets/img/logo-small.svg" alt="" width="100"/> </a>
  </div>
  <!-- END LOGO -->
  <!-- BEGIN LOGIN -->
  <div class="content">

    <!-- BEGIN LOGIN FORM -->
    <form class="login-form" (submit)="login(username.value, password.value, rememberMe.value)">
      <h3 class="form-title font-green">Sign In</h3>
      <div class="alert alert-danger" *ngIf="error != ''">
        <button class="close" data-close="alert"></button>
        <span> {{error}} </span>
      </div>
      <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">Username</label>
        <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" #username placeholder="Username" name="username" /> </div>
      <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Password</label>
        <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" #password placeholder="Password" name="password" /> </div>
      <div class="form-actions">
        <button type="submit" class="btn green uppercase">Login <i *ngIf="isLoading" class="fa fa-spinner fa-pulse fa-fw"></i></button>
        <label class="rememberme check mt-checkbox mt-checkbox-outline">
          <input type="checkbox" name="remember" value="1" #rememberMe>Remember
          <span></span>
        </label>
      </div>
      <div class="create-account">
        <p>
          <a href="/register" id="register-btn" class="uppercase">Create an account</a>
        </p>
      </div>
    </form>
    <!-- END LOGIN FORM -->
  </div>

</body>

