<div class="page-wrapper">
  <page-header></page-header>
</div>
<div class="main-wrap" *ngIf="channel !== null">

  <small><a href="/dashboard">[Back to dashboard]</a></small>

  <h3>{{channel.title}}
    <small>(<a href="{{channel.link}}" target="_blank">{{ channel.link }}</a>)</small>
  </h3>
  <p>{{ channel.description }}</p>

  <button *ngIf="channel.subscribed" (click)="unsubscribe(channel)" class="btn btn-red">Unsubscribe</button>
  <button *ngIf="!channel.subscribed" (click)="subscribe(channel)" class="btn btn-red">Subscribe</button>

  <hr/>

  <div *ngFor="let item of channel.items">
    <h4>{{ item.title }} <small *ngIf="item.link"><a href="{{item.link}}" target="_blank">[read on website]</a></small></h4>
    <p [innerHtml]="item.description"></p>
    <hr/>

  </div>

</div>
