<div class="page-wrapper">
  <page-header></page-header>
</div>
<div class="main-wrap">
  <h3>These are your current subscriptions:</h3>

  <strong *ngIf="channels.length == 0">You haven't subscribed to any channels. Use the input below to add new entries.</strong>

  <ul>
    <li *ngFor="let channel of channels">
      <strong><a href="/channel/{{channel.id}}">{{channel.title}}</a></strong><br />
      {{channel.description}}
    </li>
  </ul>

  <form (submit)="addChannel($event, url)">
    <input #url name="url" type="url" placeholder="Enter new RSS address"/>
    <input type="submit" value="Add" />
  </form>

</div>
