/* You can add global styles to this file, and also import other style files */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all');
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/simple-line-icons/css/simple-line-icons.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css';
@import 'assets/global/css/components.css';
@import 'assets/global/css/plugins.css';

html, body {
  max-height: 100%;
  max-width: 100%;
  height: 100%;
}
